<div class ="banner"><div class="container">

  <h1>  Bienvenue sur <strong> Easy car</strong> </h1>
  <h2> <strong>Location de voiture</strong></h2>

  <%= link_to "Découvrez nos voitures", voitures_path, :class => "btn btn-primary" %>
  
</div>

</div>